<div class="p-10">
    <div class="w-1/2 rounded px-4 pb-2">
        <div class="border-b pb-4">
            <h1 class="text-3xl"> Formulario de contacto </h1>
            <p class="text-gray-400"> Complete todos los datos para una mejor atencion, muchas gracias. </p>
        </div>
        <div class="w-full flex item-center mt-3">
            <div class="w-1/2 pr-2 py-2">
                <p class="font-semibold"> Apellido </p>
                <input type="text" class="border w-full border-gray-200 focus:outline-none p-2 shadow rounded mt-2" placeholder="Ej. Moreno">
            </div>
            <div class="w-1/2 py-2">
                <p class="font-semibold"> Nombre </p>
                <input type="text" class="border w-full border-gray-200 focus:outline-none p-2 shadow rounded mt-2" placeholder="Ej. Lucas Omar">
            </div>
        </div>
        <div class="w-full flex item-center">
            <div class="w-1/2 pr-2 py-2">
                <p class="font-semibold"> Teléfono </p>
                <input type="text" class="border w-full border-gray-200 focus:outline-none p-2 shadow rounded mt-2" placeholder="Ej. 2664869256">
            </div>
            <div class="w-1/2 py-2">
                <p class="font-semibold"> Email </p>
                <input type="text" class="border w-full border-gray-200 focus:outline-none p-2 shadow rounded mt-2" placeholder="Ej. ing.lucasmoreno@gmail.com">
            </div>
        </div>  
        <div class="w-full flex item-center">
            <div class="w-1/2 pr-2 py-2">
                <p class="font-semibold"> Asunto </p>
                <input type="text" class="border w-full border-gray-200 focus:outline-none p-2 shadow rounded mt-2" placeholder="Ej. Pregunta">
            </div>
        </div>
        <div class="w-full flex item-center">
            <div class="w-full py-2">
                <p class="font-semibold"> Mensaje </p>
                <textarea type="text" class="border w-full h-52 border-gray-200 focus:outline-none p-2 shadow rounded mt-2" placeholder="Ej. Tengo una casa para alquilar, que debo hacer?"></textarea>
            </div>
        </div>
        <div class="p-2">
            <button class="bg-secondaryColor hover:bg-blue-100 hover:text-secondaryColor hover:border-blue-200 text-white p-2 w-full rounded shadow"> Enviar pregunta </button>       
        </div>
    </div>
</div>