<div class="p-10">
    <div class="flex">
        <div class="w-1/2 pt-2 rounded px-4 pb-2 border-gray-200 gsap-formulario">
            <div>
                <h1 class="text-3xl"> Envianos un mensaje </h1>
                <p class="text-gray-400"> Completa todos los datos para una mejor atención, muchas gracias. </p>
            </div>
            <div class="w-full flex item-center mt-3">
                <div class="w-1/2 pr-2 py-2">
                    <p class="font-semibold"> Apellido </p>
                    <input type="text" class="border w-full border-gray-300 focus:outline-none p-2 rounded mt-2" placeholder="Ej. Moreno">
                </div>
                <div class="w-1/2 py-2">
                    <p class="font-semibold"> Nombre </p>
                    <input type="text" class="border w-full border-gray-300 focus:outline-none p-2 rounded mt-2" placeholder="Ej. Lucas Omar">
                </div>
            </div>
            <div class="w-full flex item-center">
                <div class="w-1/2 pr-2 py-2">
                    <p class="font-semibold"> Teléfono </p>
                    <div class="flex items-center mt-2">
                        <div class="p-2 bg-gray-100 border border-gray-300 rounded-l text-gray-500">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z" />
                            </svg>
                        </div>
                        <input type="text" class="border w-full border-gray-300 border-l-0 focus:outline-none p-2 rounded-r" placeholder="Ej. 2664869256">
                    </div>
                </div>
                <div class="w-1/2 py-2">
                    <p class="font-semibold"> Email </p>
                    <div class="flex items-center mt-2">
                        <div class="p-2 bg-gray-100 border border-gray-300 rounded-l text-gray-500">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                            </svg>
                        </div>
                        <input type="email" class="border w-full border-gray-300 focus:outline-none p-2 rounded-r border-l-0" placeholder="Ej. ing.lucasmoreno@gmail.com">
                    </div>
                </div>
            </div>  
            <div class="w-full flex item-center">
                <div class="w-1/2 pr-2 py-2">
                    <p class="font-semibold"> Asunto </p>
                    <input type="text" class="border w-full border-gray-300 focus:outline-none p-2 rounded mt-2" placeholder="Ej. Pregunta">
                </div>
            </div>
            <div class="w-full flex item-center">
                <div class="w-full py-2">
                    <p class="font-semibold"> Mensaje </p>
                    <textarea type="text" class="border w-full h-52 border-gray-300 focus:outline-none p-2 rounded mt-2" placeholder="Ej. Tengo una casa para alquilar, que debo hacer?"></textarea>
                </div>
            </div>
            <div class="p-2">
                <button class="bg-secondaryColor text-white px-2 py-3 w-full rounded font-semibold"> Enviar mensaje </button>       
            </div>
        </div>
        <div class="ml-10 w-max pt-2 pb-4 rounded h-max px-4 gsap-canales">
            <div>
                <h1 class="text-3xl"> Otros canales de comunicación </h1>
                <p class="text-gray-400"> Estamos atentos a todas tus consultas. </p>
            </div>
            <div>
                <div class="flex items-center mt-3 py-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 bg-green-500 rounded text-white p-1" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z" />
                    </svg>
                    <p class="ml-2 text-xl"> +549 (266) 4869642 </p>
                </div>
                <div class="flex items-center mt-3 pb-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 bg-red-500 rounded text-white p-1" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                    </svg>
                    <p class="ml-2 text-xl"> ing.lucasmoreno@gmail.com </p>
                </div>
                <div class="flex items-center mt-3">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 bg-secondaryColor rounded text-white p-1" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
                      </svg>
                    <p class="ml-2 text-xl"> Pringles 539 (Local 3)</p>
                </div>
            </div>
        </div>
    </div>
    
</div>