
<!--  -->
<div class="lg:flex lg:justify-center p-2 gsap-contenido">
    
    <div *ngIf="inmueble" class="border max-w-xl broder-gray-300 shadow w-full lg:w-1/2">
        <div class="flex items-center justify-between p-2 bg-gray-800 text-white">
            <div class="flex items-center">
                <app-boton-regresar routerLink="/dashboard/inmuebles"></app-boton-regresar>
                <div class="ml-2">
                    <h1 class="bg-gray-800 text-white rounded-t text-lg"> Datos del inmueble </h1>
                    <p *ngIf="inmueble.activo" class="text-green-800 font-semibold text-xs w-max bg-green-100 px-2 py-1 rounded border border-green-300"> Inmueble activo </p>
                    <p *ngIf="!inmueble.activo" class="text-red-800 font-semibold text-xs w-max bg-red-100 px-2 py-1 rounded border border-red-300"> Inmueble inactivo </p>
                </div>
            </div>
            <div class="flex items-center">
                <button (click)="altaBajaInmueble(true)" *ngIf="!inmueble.activo" title="Alta de inmueble" class="ml-1 rounded bg-gray-100 p-2 mr-1 hover:text-green-500 text-gray-800">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M14 10h4.764a2 2 0 011.789 2.894l-3.5 7A2 2 0 0115.263 21h-4.017c-.163 0-.326-.02-.485-.06L7 20m7-10V5a2 2 0 00-2-2h-.095c-.5 0-.905.405-.905.905 0 .714-.211 1.412-.608 2.006L7 11v9m7-10h-2M7 20H5a2 2 0 01-2-2v-6a2 2 0 012-2h2.5" />
                    </svg>
                </button>
                <button (click)="altaBajaInmueble(false)" *ngIf="inmueble.activo" title="Baja de inmueble" class="ml-1 rounded bg-gray-100 p-2 mr-1 hover:text-red-500 text-gray-800">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M10 14H5.236a2 2 0 01-1.789-2.894l3.5-7A2 2 0 018.736 3h4.018a2 2 0 01.485.06l3.76.94m-7 10v5a2 2 0 002 2h.096c.5 0 .905-.405.905-.904 0-.715.211-1.413.608-2.008L17 13V4m-7 10h2m5-10h2a2 2 0 012 2v6a2 2 0 01-2 2h-2.5" />
                    </svg>
                </button>
                <button title="Galeria de imagenes" class="ml-1 rounded bg-gray-100 p-2 mr-1 hover:text-secondaryColor text-gray-800">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" />
                      </svg>
                </button>
                <button title="Editar inmueble" class="ml-1 rounded bg-gray-100 p-2 mr-1 hover:text-secondaryColor text-gray-800">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                    </svg>
                </button>
            </div>
        </div>
        <div>
            <div class="p-2">
                <label class="font-semibold text-sm"> Propietario del inmueble </label>
                <p class="capitalize text-sm p-2 border-b-2 border-gray-200 mt-1"> 
                    {{ inmueble.propietario.descripcion.toLowerCase() }} <span *ngIf="inmueble.propietario.identificacion.trim() !== ''"> ({{ inmueble.propietario.identificacion_tipo }} {{ inmueble.propietario.identificacion }}) </span>  
                </p>
            </div>    
        </div>
        <div class="p-2 flex">
            <div class="w-1/2">
                <label class="font-semibold text-sm"> Tipo de inmueble </label>
                <p class="capitalize text-sm p-2 border-b-2 border-gray-200 mt-1"> 
                    {{ inmueble.tipo }} 
                </p>
            </div>  
            <div class="w-1/2 ml-4">
                <label class="font-semibold text-sm"> Alquiler / Venta </label>
                <p class="capitalize text-sm p-2 border-b-2 border-gray-200 mt-1"> 
                    {{ inmueble.alquiler_venta }}  
                </p>
            </div>    
        </div>
        <div class="p-2 flex">
            <div class="w-1/2">
                <label class="font-semibold text-sm"> Provincia </label>
                <p class="text-sm capitalize p-2 border-b-2 border-gray-200 mt-1"> 
                    {{ inmueble.provincia.descripcion.toLowerCase() }} 
                </p>
            </div>  
            <div class="w-1/2 ml-4">
                <label class="font-semibold text-sm"> Localidad </label>
                <p class="text-sm capitalize p-2 border-b-2 border-gray-200 mt-1"> 
                    {{ inmueble.localidad.descripcion.toLowerCase() }}  
                </p>
            </div>    
        </div>
        <div class="p-2">
            <div>
                <label class="font-semibold text-sm"> Dirección publica </label>
                <p class="text-sm p-2 border-b-2 border-gray-200 mt-1"> 
                    {{ inmueble.ubicacion_publica }} 
                </p>
            </div>     
        </div>
        <div class="p-2">
            <div>
                <label class="font-semibold text-sm"> Dirección privada </label>
                <p class="text-sm p-2 border-b-2 border-gray-200 mt-1"> 
                    {{ inmueble.ubicacion_privada }} 
                </p>
            </div>     
        </div>
        <div class="p-2">
            <div>
                <label class="font-semibold text-sm"> Descripción corta </label>
                <p class="text-sm p-2 border-b-2 border-gray-200 mt-1"> 
                    {{ inmueble.descripcion_corta }} 
                </p>
            </div>     
        </div>
        <div class="p-2">
            <div>
                <label class="font-semibold text-sm"> Descripción completa </label>
                <p class="text-sm p-2 border-b-2 border-gray-200 mt-1"> 
                    {{ inmueble.descripcion_completa }} 
                </p>
            </div>     
        </div>
        <div class="p-2 flex">
            <div class="w-1/2">
                <label class="font-semibold text-sm"> Precio </label>
                <p class="capitalize text-sm p-2 border-b-2 border-gray-200 mt-1"> 
                    {{ inmueble.precio_valor }} 
                </p>
            </div>  
            <div class="w-1/2 ml-4">
                <label class="font-semibold text-sm"> Moneda </label>
                <p class="ccapitalize text-sm p-2 border-b-2 border-gray-200 mt-1"> 
                    {{ inmueble.precio_moneda }}  
                </p>
            </div>    
        </div>
        <div class="p-2 flex">
            <div class="w-1/2">
                <label class="font-semibold text-sm"> Mostrar precio </label>
                <p class="capitalize text-sm p-2 border-b-2 border-gray-200 mt-1"> 
                    {{ inmueble.precio_mostrar ? 'Si' : 'No' }} 
                </p>
            </div>
            <div class="w-1/2 ml-4">
                <p class="capitalize text-sm p-2 mt-1 rounded"> </p>
            </div>     
        </div>
    </div>
    
    
    <div *ngIf="inmueble" class="w-full max-w-xl shadow h-full lg:ml-2 lg:w-1/2 mt-2 lg:mt-0">
        <div class="bg-gray-800 flex items-center justify-between border border-gray-800 rounded-t px-3 py-5 text-white">
            <h1 class="text-xl"> Vista previa del inmueble </h1>
            
        </div>
        <div class="p-2">
            <div class="border border-gray-300 rounded-t shadow">
                <div class="relative">
                    <img class="rounded-t object-cover w-full h-60" src="assets/img/inmuebles/sin-imagen.png" alt="Sin-imagen.png">
                    <p  [ngClass]="{'bg-green-700' : inmueble.alquiler_venta === 'Venta', 'bg-orange-700' : inmueble.alquiler_venta === 'Alquiler'}"
                        class="absolute top-0 right-0 py-2 px-4 text-white opacity-80"> 
                        {{ inmueble.alquiler_venta }}
                    </p>
                    <p class="absolute bottom-0 left-0 bg-gray-900 p-2 text-white opacity-80">
                        {{ inmueble.codigo }}
                    </p>
                </div>       
                <div>
                    <div class="p-2">
                        <p class="italic text-gray-600 mt-2" *ngIf="inmueble.descripcion_corta.trim() === ''"> Descripción del inmueble </p>
                        <p class="mt-2" *ngIf="inmueble.descripcion_corta.trim() !== ''"> {{ inmueble.descripcion_corta }} </p>
                        <div class="mt-5">
                            <div>
                                <p> {{ inmueble.tipo }} </p>
                                <p class="capitalize"> {{ inmueble.localidad.descripcion.toLowerCase() }} ({{ inmueble.provincia.descripcion.toLowerCase() }}) </p>
                            </div>
                        </div>
                        <div class="mt-2 text-right">
                            <p *ngIf="!inmueble.precio_mostrar" class="text-md text-secondaryColor text-lg"> Consultar precio </p>
                            <p *ngIf="inmueble.precio_mostrar" class="text-md text-secondaryColor text-lg"> {{ inmueble.precio_moneda === 'Dolares' ? 'US$' : '$' }}{{ inmueble.precio_valor | moneda }} </p>
                        </div>
                    </div>
                    <hr>
                    <div class="flex items-center justify-center mt-2 mb-2 w-full p-2">
                        <button class="p-2 border rounded w-1/2 bg-secondaryColor text-white"> Contactar asesor </button>
                        <button class="p-2 border rounded ml-2 w-1/2 bg-secondaryColor text-white"> Detalles </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
