<app-modal-small [showModal]="showModal">
    <div class="bg-gray-800 text-white p-2 rounded-t flex items-center justify-between">
        <h1 class="text-lg"> Imagen principal </h1>
        <button (click)="showModal = false">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>            
        </button>
    </div>
    <div *ngIf="!previsualizacion" class="p-2">
        <input (change)="capturarImagen($event)" class="mt-2" type="file">
    </div>
    <div class="p-2" *ngIf="previsualizacion">
        <div>
            <!-- <img class="border w-max border-gray-300 shadow" [src]="previsualizacion" alt="previsualizacion"> -->
            <div class="mt-2 flex items-center justify-center">
                <div class="bg-secondaryColor text-white rounded p-2 w-max ml-4"> Imagen seleccionada </div>
                <button title="Eliminar imagen" (click)="eliminarImagenSeleccionada()" class="bg-red-700 text-white rounded p-2 ml-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</app-modal-small>
<div class="p-2 gsap-contenido">
    <div class="lg:flex lg:justify-center">

        <div class="border shadow max-w-xl w-full lg:w-1/2">
            <div class="flex items-center p-3 border-gray-800 bg-gray-800 rounded-t text-white text-xl">
                <app-boton-regresar routerLink="/dashboard/inmuebles"></app-boton-regresar>
                <h1 class="ml-2"> Datos del inmueble </h1>
            </div>
            <form [formGroup]="inmuebleForm" class="p-3 pb-4">
                <div class="w-full text-sm">
                    <p class="font-semibold"> <span class="text-red-500"> * </span> Propietario del inmueble </p>
                    <select formControlName="propietario" class="mt-1 py-1 w-full transform duration-500 focus:border-primaryColor outline-none bg-white focus:outline-none border-b-2">
                        <option value=""> Seleccionar un propietario </option>
                        <option *ngFor="let propietario of propietarios" [value]="propietario._id"> {{ propietario.descripcion }} <span *ngIf="propietario.identificacion !== ''"> - {{ propietario.identificacion_tipo }} {{ propietario.identificacion }} </span> </option>
                    </select>
                </div>
                <div class="flex mt-4">
                    <div class="w-1/2 text-sm">
                        <p class="font-semibold"> <span class="text-red-500"> * </span> Tipo de inmueble </p>
                        <select (change)="seleccionarCodigo()" formControlName="tipo" class="mt-1 py-1 w-full transform duration-500 focus:border-primaryColor outline-none bg-white focus:outline-none border-b-2">
                            <option value="Casa"> Casa </option>
                            <option value="Departamento"> Departamento </option>
                            <option value="Local comercial"> Local comercial </option>
                            <option value="Monoambiente"> Monoambiente </option>
                            <option value="Oficina"> Oficina </option>
                            <option value="Terreno"> Terreno/Lote </option>
                            <option value="Campo"> Campo </option>
                        </select>
                    </div>
                    <div class="w-1/2 ml-4 text-sm">
                        <p class="font-semibold"> <span class="text-red-500"> * </span> Alquiler - Venta </p>
                        <select formControlName="alquiler_venta" class="mt-1 py-1 w-full transform duration-500 focus:border-primaryColor outline-none bg-white focus:outline-none border-b-2">
                            <option value="Alquiler"> Alquiler </option>
                            <option value="Venta"> Venta </option>
                        </select>
                    </div>
                </div>
                <div class="flex mt-2 text-sm">
                    <div class="w-1/2">
                        <p class="font-semibold mt-2"> <span class="text-red-500"> * </span> Provincia </p>
                        <select formControlName="provincia" (change)="seleccionarProvincia()" class="mt-1 py-1 w-full transform duration-500 capitalize focus:border-primaryColor outline-none bg-white focus:outline-none border-b-2">
                            <option value=""> Seleccionar provincia </option>
                            <option *ngFor="let provincia of provincias" [value]='provincia._id'> {{ provincia.descripcion }} </option>
                        </select>  
                    </div>
                    <div class="w-1/2 ml-4">
                        <p class="font-semibold mt-2"> <span class="text-red-500"> * </span> Localidad </p>
                        <select formControlName="localidad" (change)="seleccionarLocalidad()" class="mt-1 py-1 w-full transform duration-500 capitalize focus:border-primaryColor outline-none bg-white focus:outline-none border-b-2">
                            <option value=""> Seleccionar localidad </option>
                            <option *ngFor="let localidad of localidades" [value]='localidad._id'> {{ localidad.descripcion }} </option>
                        </select>  
                    </div>           
                </div>
                <div class="flex mt-2 text-sm">
                    <div class="w-full">
                        <p class="font-semibold mt-1"> <span class="text-red-500"> * </span> Dirección publica </p>
                        <input formControlName="ubicacion_publica" type="text" placeholder="Ej. Sobre calle pringles" class="py-1 w-full mt-2 tranform duration-500 focus:border-primaryColor outline-none bg-white focus:outline-none border-b-2">
                    </div>
                </div>
                <div class="flex mt-2 text-sm">
                    <div class="w-full">
                        <p class="font-semibold mt-1"> <span class="text-red-500"> * </span> Dirección privada </p>
                        <input formControlName="ubicacion_privada" type="text" placeholder="Ej. Sobre calle pringles" class="py-1 w-full mt-2 tranform duration-500 focus:border-primaryColor outline-none bg-white focus:outline-none border-b-2">
                    </div>
                </div>
                <div class="flex mt-2 text-sm">
                    <div class="w-full">
                        <p class="font-semibold mt-1"> <span class="text-red-500"> * </span> Descripción corta </p>
                        <input formControlName="descripcion_corta" type="text" placeholder="Ej. Vivienda en muy buen estado, ubicación centrica" class="text-sm py-1 w-full mt-2 tranform duration-500 focus:border-primaryColor outline-none bg-white focus:outline-none border-b-2">
                    </div>
                </div>
                <div class="flex mt-2 text-sm">
                    <div class="w-full">
                        <p class="font-semibold mt-1"> <span class="text-red-500"> * </span> Descripción completa </p>
                        <textarea formControlName="descripcion_completa" placeholder="Detallamos las caracteristicas del inmubele" rows="5" class="border-2 transform duration-500 outline-none focus:border-primaryColor text-sm p-2 mt-2 w-full focus:outline-none border-gray-300"></textarea>
                    </div>
                </div>
                <div class="flex mt-2 text-sm">
                    <div class="w-1/2">
                        <p class="font-semibold"> <span class="text-red-500"> * </span> Precio </p>
                        <input formControlName="precio_valor" type="number" placeholder="Ej. 10000" class="py-1 w-full mt-2 tranform duration-500 focus:border-primaryColor outline-none bg-white focus:outline-none border-b-2">
                    </div>
                    <div class="w-1/2 ml-4">
                        <p class="font-semibold"> <span class="text-red-500"> * </span> Moneda </p>
                        <select formControlName="precio_moneda" class="py-1 w-full mt-2 tranform duration-500 focus:border-primaryColor outline-none bg-white focus:outline-none border-b-2">
                            <option value="Pesos"> Pesos </option>
                            <option value="Dolares"> Dolares </option>
                        </select>
                    </div>
                </div>
                <div class="w-1/2 text-sm mt-4">
                    <p class="font-semibold"> <span class="text-red-500"> * </span> ¿Mostrar precio en la web? </p>
                    <select formControlName="precio_mostrar" class="mt-1 py-1 w-full transform duration-500 focus:border-primaryColor outline-none bg-white focus:outline-none border-b-2">
                        <option value=true> Si </option>
                        <option value=false> No </option>
                    </select>            
                </div>
                <button (click)="nuevoInmueble()" class="border border-gray-300 hover:text-secondaryColor text-gray-800 font-semibold bg-gray-100 p-2 rounded w-full mt-4"> Crear inmueble </button>
            </form>
        </div>


        <div class="w-full max-w-xl border border-gray-300 shadow h-full lg:ml-2 lg:w-1/2 mt-2 lg:mt-0">
            <div class="bg-gray-800 flex items-center justify-between border border-gray-800 rounded-t p-3 text-white">
                <h1 class="text-xl"> Vista previa </h1>
                <button (click)="abrirModal()" title="Agregar imagen" class="bg-gray-100 rounded border border-gray-300 p-2 text-gray-800 hover:text-secondaryColor">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" />
                    </svg>                    
                </button>
            </div>
            <div class="p-2">
                <div class="border border-gray-300 rounded-t shadow">
                    <div class="relative">
                        <img class="rounded-t object-cover w-full h-60" [src]=" previsualizacion ? previsualizacion : 'assets/img/inmuebles/sin-imagen.png'" alt="Sin-imagen.png">
                        <p  [ngClass]="{'bg-green-700' : inmuebleForm.value.alquiler_venta === 'Venta', 'bg-orange-700' : inmuebleForm.value.alquiler_venta === 'Alquiler'}"
                            class="absolute top-0 right-0 py-2 px-4 text-white opacity-80"> 
                            {{ inmuebleForm.value.alquiler_venta }}
                        </p>
                        <p class="absolute bottom-0 left-0 bg-gray-900 p-2 text-white opacity-80">
                            {{ codigo }}
                        </p>
                    </div>       
                    <div>
                        <div class="p-2">
                            <p class="italic text-gray-600 mt-2" *ngIf="inmuebleForm.value.descripcion_corta.trim() === ''"> Descripción del inmueble </p>
                            <p class="mt-2" *ngIf="inmuebleForm.value.descripcion_corta.trim() !== ''"> {{ inmuebleForm.value.descripcion_corta }} </p>
                            <div class="mt-5">
                                <div>
                                    <p> {{ inmuebleForm.value.tipo }} </p>
                                    <p [ngClass]="{'text-gray-600 italic':inmuebleForm.value.localidad === '', 'text-black': inmuebleForm.value.localidad !== '' }" class="capitalize"> {{ inmuebleForm.value.localidad.trim() !== '' ? localidadSeleccionada.descripcion.toLowerCase() : 'Localidad' }} <span [ngClass]="{'text-gray-600 italic':inmuebleForm.value.provincia === '', 'text-black': inmuebleForm.value.provincia !== '' }"> ({{ inmuebleForm.value.provincia.trim() !== '' ? provinciaSeleccionada.descripcion.toLowerCase() : 'Provincia' }}) </span>  </p>    
                                </div>
                            </div>
                            <div class="mt-2 text-right">
                                <p *ngIf="inmuebleForm.value.precio_mostrar === 'false'" class="text-md text-secondaryColor text-lg"> Consultar precio </p>
                                <p *ngIf="inmuebleForm.value.precio_mostrar === 'true'" class="text-md text-secondaryColor text-lg"> {{ inmuebleForm.value.precio_moneda === 'Dolares' ? 'US$' : '$' }}{{ inmuebleForm.value.precio_valor | moneda }} </p>
                            </div>
                        </div>
                        <hr>
                        <div class="flex items-center justify-center mt-2 mb-2 w-full p-2">
                            <button class="p-2 border rounded w-1/2 bg-secondaryColor text-white"> Contactar asesor </button>
                            <button class="p-2 border rounded ml-2 w-1/2 bg-secondaryColor text-white"> Detalles </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
</div>

