<div class="mr-auto ml-auto text-center">
    <img class="gsap-contenido w-full md:w-1/2 mt-20 mr-auto ml-auto rounded" src="assets/img/Logo-Lider.jpeg" alt="Home">
    <div class="gsap-contenido ml-auto mr-auto">
        <p class="text-2xl font-semibold text-primaryColor"> Web autoadministrable </p>
        <a href="https://equinocciotech.com" target="_blank" class="font-semibold cursor-pointer hover:text-secondaryColor text-primaryColor"> Equinoccio Technology </a>
        <p class="font-semibold text-gray-800"> Versión 1.0.0 </p>
        <br>
    </div>
    <br>
    <br>
</div>