<div>
    <div class="relative">
        <img class="w-full gsap-imagen h-96 object-cover blur-sm" src="https://i.ytimg.com/vi/rmcMKX_QMRc/maxresdefault.jpg" alt="">
        <img class="md:w-1/2 gsap-imagen h-96 absolute top-0 bottom-0 mx-auto left-0 right-0 object-cover" src="https://i.ytimg.com/vi/rmcMKX_QMRc/maxresdefault.jpg" alt="">
        <div class="bg-gray-900 left-0 w-1/2 flex flex-col text-white items-center z-10 gsap-imagen justify-center top-0 right-0 opacity-70 mx-auto bottom-0 absolute">
            <h1 class="text-4xl"> Departamento </h1>
            <p class="mt-4 flex items-center"> 
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
                </svg>
                <span class="ml-1">
                    Cruz de piedra (San Luis)  
                </span>
            </p>
            <p class="mt-4 text-2xl bg-green-600 opacity-80 px-2 rounded"> Venta </p>
        </div>
    </div>
    <div class="mt-4 flex">

        <div class="w-1/2 border p-2">
            <h1 class="text-center font-semibold text-2xl"> Detalles del inmueble </h1>
            <div class="mt-2">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore deleniti porro sapiente asperiores rem voluptatibus, fugiat et voluptate ullam esse itaque unde, eligendi expedita velit totam modi. Quas, exercitationem odit!    
            </div>
        </div>

        <div class="w-1/2 p-2">
            <h1 class="text-center font-semibold text-2xl mb-5"> Galeria de fotos </h1>
            <img class="h-72 w-96 object-cover mt-2 mx-auto shadow-lg rounded border" [src]="imagenSeleccionada.url" [alt]="imagenSeleccionada.nombre">
            <div class="flex flex-wrap items-center mt-2 justify-center">
                <img (click)="imagenSeleccionada = imagen" class="h-32 w-32 cursor-pointer hover:opacity-80 object-cover m-2 shadow-lg rounded" *ngFor="let imagen of imagenes" [src]="imagen.url" [alt]="imagen.nombre">
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
</div>
